# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/9.4/en/server-configuration-defaults.html

[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M

host-cache-size=0
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
secure-file-priv=/var/lib/mysql-files
user=mysql

pid-file=/var/run/mysqld/mysqld.pid

key_buffer_size         = 2000M
innodb_buffer_pool_size = 2000M

max_allowed_packet      = 1G
thread_stack            = 256K
thread_cache_size       = 100
max_connections        = 100
default-time-zone='+00:00'

########################################
# TLS/SSL
########################################
# Require secure transport for all TCP connections (mTLS)
# Local connections via Unix socket bypass this requirement
require_secure_transport = off
ssl_ca   = /etc/mysql/ssl/ca.crt
ssl_cert = /etc/mysql/ssl/mysql.crt
ssl_key  = /etc/mysql/ssl/mysql.key


#key_buffer_size        = 128M
#max_allowed_packet     = 1G
#thread_stack           = 192K
#thread_cache_size      = 8
# This replaces the startup script and checks MyISAM tables if needed
# the first time they are touched
#myisam_recover_options = BACKUP
#max_connections        = 100
#table_cache            = 64

cte_max_recursion_depth = 1000000

character-set-server  = utf8mb4
collation_server = utf8mb4_unicode_ci

[client]
socket=/var/run/mysqld/mysqld.sock

!includedir /etc/mysql/conf.d/
